.addForm {
  background-color: #4B527E;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.addForm button {
  background-color: #FF6086;
  font-weight: 700;
}
